{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for product in products%}
    <div class="col-lg-4">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="thumbnail">
        {% else %}
        <img src="{% static 'images/placeholder640.png' %}" class="thumbnail">
        {% endif %}
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>

            <button class="btn btn-outline-secondary add-btn">Добавить</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right; font-size: 17px;"><strong>{{ product.price|floatformat:2 }} руб.</strong></h4>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock content %}